.Navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.Navbar__signout {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 4px;
    height: 35px;
    width: 120px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}


.Navbar__signout:hover {
    transition: all 0.2s;
    color: #838080;
    border-color: #838080;
}

